<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
	<meta charset="utf-8">
	{% include "core/Bootstrap.html" %}
	<title>Join</title>
</head>
<body>
	{% include "core/Navigation_Bar.html" %}
	<div class="container">
    <div class = "jumbotron">
      <h1>Join</h1>
      <form method="POST">
         <table class="table table-sm">
        {{ join_form.as_table }}
        {% csrf_token %}
        </table>
         <table>
        <tr>
          <td>
        <input type="submit" class="btn btn-primary" value = "Join"/>
      </form>
       </td>
        </tr>
      </table>
    </div>
  </div>
</body>
</html>