<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
	<meta charset="utf-8">
	{% include "core/Bootstrap.html" %}
	<title>Login</title>
</head>
<body>
	{% include "core/Navigation_Bar.html" %}
	<div class="container">
    <div class = "jumbotron">
      <h1>Login</h1>
      <form method="POST">
        {{ login_form.as_p }}
        {% csrf_token %}
        <input type="submit" class="btn btn-primary" value = "Login"/>
        <br>
        <h9>If you don't already have username and password, join </h9><a href="/join/">here.</a>
      </form>
    </div>
  </div>
</body>
</html>