<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	{% include "core/Bootstrap.html" %}
	<title>Add Budget Item</title>
</head>
<body>
	{% include "core/Navigation_Bar.html" %}
	<div class="container">
    <div class = "jumbotron">
      <h1>Add Budget Item</h1>
      <form method="POST" action="/addbudget/">
        <table class="table table-sm">
        {{ add_budget_form.as_table }}
        {% csrf_token %}
      </table>
      <table>
        <tr>
          <td>
            <button type="submit" class="btn btn-primary" name = "Add_Budget_Item">Add Budget Item</button>
        </form>
          </td>
          <td>
            <a href="/budget/">
          <button type="button" class="btn btn-primary" value="Cancel" name = "Cancel">Cancel</button>
        </a>
          </td>
        </tr>
      </table>
    </div>
  </div>
</body>
</html>