<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	{% include "core/Bootstrap.html" %}
	<title>Add Budget Item</title>
</head>
<body>
	{% include "core/Navigation_Bar.html" %}
	<div class="container">
    <div class = "jumbotron">
      <h1>Add Budget Item</h1>
      <form method="POST" action="/addbudget/">
        {{ add_budget_form.as_p }}
        {% csrf_token %}
        <button type="submit" class="btn btn-primary" name = "Add_Budget_Item">Add Budget Item</button>
      </form>
        <a href="/budget/">
        	<button type="submit" class="btn btn-primary" value="Cancel" name = "Cancel">Cancel</button>
        </a>
    </div>
  </div>
</body>
</html>