<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
	<meta charset="utf-8">
  <link href="https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&display=swap" rel="stylesheet">
	{% include "core/Bootstrap.html" %}
	<title>Edit Journal Entry</title>
</head>
<body>
{% include "core/Navigation_Bar.html" %}
<div class="container">
    <div class = "jumbotron">
      <h1>Edit Journal Entry</h1>
      <form method="POST" action="/editentry/">
        {{ edit_journal_form.as_p }}
        {% csrf_token %}
        <button type="submit" class="btn btn-primary" name = "Edit_Journal_item">Update</button>
      </form>
        <a href="/journal/">
        	<button type="submit" class="btn btn-primary" value="Cancel" name = "Cancel">Cancel</button>
        </a>
    </div>
  </div>
</body>
</html>