<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
	<meta charset="utf-8">
	{% include "core/Bootstrap.html" %}
	<title>Journal</title>
</head>
<body>
	{% include "core/Navigation_Bar.html" %}


	<!-- Modal -->
<div id="deleteModal" class="modal fade" role='dialog'>
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h4 class="modal-title">Delete Journal Entry</h4>
			</div>
		<div class="modal-body">
			<p>Do you really want to delete this journal entry?</p>
	</div>
		<div class="modal-footer">
			<a href="/journal/">
			<button type="button" class="btn btn-default" datadismiss="modal">Cancel</button>
			</a>
			<span id= 'deleteButton'></span>
		</div>
	</div>
	</div>
</div>
<!--Modal ends here--->



<h1>Journal Page</h1>


<table class="table table-bordered">
  <thead>
    <tr>
      <th scope="col">Date</th>
      <th scope="col">Description</th>
      <th scope="col">Action</th>
    </tr>
  </thead>
  <tbody>
    <tr>
    	{% for key, value  in dat.items %}
    		{% for x in value %}
    			{% if forloop.counter == 3 %}
    				<td><a class="btn btn-primary" href="/editentry/?id={{x}}">Edit</a>
    					<a class="btn btn-primary" href="#" onclick="confirmDeleteModal({{x}})">Delete</a>
    				</td>
    			{% else %}
    				<td>{{ x }}</td>>
    			{% endif %}
    		{% endfor %}
    	</tr>
    	{% endfor %}
  </tbody>
</table>
<a href="/addentry/">
<button type="submit" class="btn btn-primary">Add Budget Item</button>
</a>
<p></p>
{% load staticfiles %}
<script src="{%static 'JS/modal_journal.js' %}"></script>
{{data}}







</body>
</html>